In [73]:
pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.8.0-cp39-cp39-win_amd64.whl (438.0 MB)
Collecting opt-einsum>=2.3.2
  Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Requirement already satisfied: numpy>=1.20 in c:\users\tl\anaconda\lib\site-packages (from tensorflow) (1.20.3)
Collecting keras<2.9,>=2.8.0rc0
  Downloading keras-2.8.0-py2.py3-none-any.whl (1.4 MB)
Collecting tensorboard<2.9,>=2.8
  Downloading tensorboard-2.8.0-py3-none-any.whl (5.8 MB)
Collecting keras-preprocessing>=1.1.1
  Using cached Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting google-pasta>=0.1.1
  Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.25.0-cp39-cp39-win_amd64.whl (1.5 MB)
Collecting libclang>=9.0.1
  Downloading libclang-14.0.1-py2.py3-none-win_amd64.whl (14.2 MB)
Collecting gast>=0.2.1
  Downloading gast-0.5.3-py3-none-any.whl (19 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\tl\anaconda\lib\site-packages (from tensorflow) (3.10.0.2)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
Collecting astunparse>=1.6.0
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting termcolor>=1.1.0
  Using cached termcolor-1.1.0.tar.gz (3.9 kB)
Requirement already satisfied: six>=1.12.0 in c:\users\tl\anaconda\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\tl\anaconda\lib\site-packages (from tensorflow) (1.12.1)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.46.0-cp39-cp39-win_amd64.whl (3.5 MB)
Collecting absl-py>=0.4.0
  Using cached absl_py-1.0.0-py3-none-any.whl (126 kB)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
Collecting flatbuffers>=1.12
  Using cached flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: setuptools in c:\users\tl\anaconda\lib\site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: h5py>=2.9.0 in c:\users\tl\anaconda\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\tl\anaconda\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Collecting markdown>=2.6.8
  Using cached Markdown-3.3.6-py3-none-any.whl (97 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Using cached google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\tl\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Using cached tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.6.6-py2.py3-none-any.whl (156 kB)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\tl\anaconda\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.26.0)
Collecting pyasn1-modules>=0.2.1
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting rsa<5,>=3.1.4
  Using cached rsa-4.8-py3-none-any.whl (39 kB)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.0.0-py3-none-any.whl (9.1 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\tl\anaconda\lib\site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\tl\anaconda\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Collecting pyasn1<0.5.0,>=0.4.6
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tl\anaconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tl\anaconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tl\anaconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\tl\anaconda\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.4)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.0-py3-none-any.whl (151 kB)
Building wheels for collected packages: termcolor
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4847 sha256=94aac8c60b0660d0bac8745ea2331d89b590e2d97aea05db1f9c14b7770ec086
  Stored in directory: c:\users\tl\appdata\local\pip\cache\wheels\b6\0d\90\0d1bbd99855f99cb2f6c2e5ff96f8023fad8ec367695f7d72d
Successfully built termcolor
Installing collected packages: pyasn1, rsa, pyasn1-modules, oauthlib, cachetools, requests-oauthlib, google-auth, tensorboard-plugin-wit, tensorboard-data-server, protobuf, markdown, grpcio, google-auth-oauthlib, absl-py, tf-estimator-nightly, termcolor, tensorflow-io-gcs-filesystem, tensorboard, opt-einsum, libclang, keras-preprocessing, keras, google-pasta, gast, flatbuffers, astunparse, tensorflow
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-5.0.0 flatbuffers-2.0 gast-0.5.3 google-auth-2.6.6 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.46.0 keras-2.8.0 keras-preprocessing-1.1.2 libclang-14.0.1 markdown-3.3.6 oauthlib-3.2.0 opt-einsum-3.3.0 protobuf-3.20.1 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.1 rsa-4.8 tensorboard-2.8.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.8.0 tensorflow-io-gcs-filesystem-0.25.0 termcolor-1.1.0 tf-estimator-nightly-2.8.0.dev2021122109
Note: you may need to restart the kernel to use updated packages.

In [74]:
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import LinearSVR
from sklearn.pipeline import make_pipeline
from sklearn import tree

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation
from tensorflow.keras.optimizers import Adam

In [2]:
ams_1 = pd.read_json('Amsterdam_1(2771).json', dtype =False)

In [3]:
ams_1.head()

,year_built,area,url,price,bedrooms,postal_code,rooms,address,property_type
0,1984,31,http://www.funda.nl/koop/amsterdam/appartement...,132.500,1,1065 LX,1,Jan Muschstraat 8,apartment
1,1990,79,http://www.funda.nl/koop/amsterdam/appartement...,300.000,1,1019 HT,2,Zeeburgerkade 738 +PP,apartment
2,1906,93,http://www.funda.nl/koop/amsterdam/appartement...,550.000,3,1051 GT,4,Cliffordstraat 22 -HUIS,apartment
3,2002,90,http://www.funda.nl/koop/amsterdam/appartement...,318.500,2,1095 LG,3,Zeeburgerdijk 768,apartment
4,1904,142,http://www.funda.nl/koop/amsterdam/huis-497973...,475.000,3,1035 PS,6,Landsmeerderdijk 47,house

In [4]:
ams_1.shape

(2769, 9)

In [5]:
ams_1["price"] = ams_1["price"].astype(str)

In [6]:
ams_1["len"] = ams_1["price"].apply(lambda x: len(x))

In [7]:
ams_1["price"] = ams_1["price"].apply(lambda x: x + "000" if len(x) ==5 else x)

In [8]:
ams_1["price"] = ams_1["price"].apply(lambda x: x + "0" if len(x) ==6 else x)

In [9]:
ams_1["price"][60] = ams_1["price"][60] + "0"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/574544986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ams_1["price"][60] = ams_1["price"][60] + "0"

In [10]:
ams_1["price"][132] = ams_1["price"][132] + "0"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/61898818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ams_1["price"][132] = ams_1["price"][132] + "0"

In [11]:
ams_1["price"][1492] = ams_1["price"][1492] + "0"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/1854686871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ams_1["price"][1492] = ams_1["price"][1492] + "0"

In [12]:
ams_1["price"][1816] = ams_1["price"][1816] + "0"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/3280957497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ams_1["price"][1816] = ams_1["price"][1816] + "0"

In [13]:
ams_1[ams_1["len"]==6]

,year_built,area,url,price,bedrooms,postal_code,rooms,address,property_type,len
39,1985,43,http://www.funda.nl/koop/amsterdam/appartement...,95.0000,1,1104 MN,2,Kloekhorststraat 207,apartment,6
60,1899,572,http://www.funda.nl/koop/amsterdam/huis-498757...,11.75000,8,1071 GK,16,Van Eeghenstraat 80 *,house,6
132,1899,572,http://www.funda.nl/koop/amsterdam/huis-498758...,11.75000,6,1071 GK,16,Van Eeghenstraat 80,house,6
303,1985,29,http://www.funda.nl/koop/amsterdam/appartement...,95.0000,1,1102 ZK,1,Daniël Defoelaan 74,apartment,6
492,1984,29,http://www.funda.nl/koop/amsterdam/appartement...,87.5000,1,1102 WZ,2,Dalsteindreef 312,apartment,6
1108,1984,45,http://www.funda.nl/koop/amsterdam/appartement...,99.9000,1,1104 MK,2,Kloekhorststraat 57,apartment,6
1492,2017,1,http://www.funda.nl/koop/amsterdam/appartement...,24.50000,7,1012 JS,15,Dam 3 D,apartment,6
1791,1968,28,http://www.funda.nl/koop/amsterdam/appartement...,99.0000,1,1025 ZX,1,Amerbos 396,apartment,6
1816,1687,1,http://www.funda.nl/koop/amsterdam/huis-498768...,14.95000,18,1017 CC,37,Herengracht 518 + Keizersgracht 633 + P,house,6
1907,1974,55,http://www.funda.nl/koop/amsterdam/appartement...,95.0000,1,1103 KZ,2,Gouden Leeuw 1022,apartment,6
1955,1984,34,http://www.funda.nl/koop/amsterdam/appartement...,90.0000,1,1102 ZR,1,Dantestraat 144,apartment,6
2023,1983,33,http://www.funda.nl/koop/amsterdam/appartement...,85.0000,1,1107 JJ,1,Schelluinenstraat 60 A,apartment,6
2089,1968,35,http://www.funda.nl/koop/amsterdam/appartement...,89.5000,1,1025 ZN,1,Amerbos 76,apartment,6
2119,1983,29,http://www.funda.nl/koop/amsterdam/appartement...,87.5000,1,1102 XZ,1,Chestertonlaan 22,apartment,6
2307,1984,53,http://www.funda.nl/koop/amsterdam/appartement...,89.0000,1,1107 RC,1,Tielstraat 85,apartment,6
2708,1967,95,http://www.funda.nl/koop/amsterdam/appartement...,80.0000,2,1024 AC,3,Jisperveldstraat 63,apartment,6

In [14]:
ams_1["price"] = ams_1["price"].apply(lambda x:x.replace(".",""))

In [15]:
ams_1["price"] = ams_1["price"].astype(int)

In [16]:
ams_1.head()

,year_built,area,url,price,bedrooms,postal_code,rooms,address,property_type,len
0,1984,31,http://www.funda.nl/koop/amsterdam/appartement...,132500,1,1065 LX,1,Jan Muschstraat 8,apartment,7
1,1990,79,http://www.funda.nl/koop/amsterdam/appartement...,300000,1,1019 HT,2,Zeeburgerkade 738 +PP,apartment,7
2,1906,93,http://www.funda.nl/koop/amsterdam/appartement...,550000,3,1051 GT,4,Cliffordstraat 22 -HUIS,apartment,7
3,2002,90,http://www.funda.nl/koop/amsterdam/appartement...,318500,2,1095 LG,3,Zeeburgerdijk 768,apartment,7
4,1904,142,http://www.funda.nl/koop/amsterdam/huis-497973...,475000,3,1035 PS,6,Landsmeerderdijk 47,house,7

In [17]:
ams_2 = pd.read_json('Amsterdam_2(2770).json')

In [18]:
ams_2 = ams_2.drop("city", axis = 1)

In [19]:
ams_2.shape

(2768, 9)

In [20]:
ams_2["price"] = ams_2["price"].astype(str)

In [21]:
ams_2["len"] = ams_2["price"].apply(lambda x: len(x))

In [22]:
ams_2.head()

,year_built,area,url,price,bedrooms,postal_code,rooms,address,property_type,len
0,1720,88,http://www.funda.nl/koop/amsterdam/appartement...,425000,2,1018 MR,3,Oostenburgervoorstraat 246,apartment,6
1,1904,142,http://www.funda.nl/koop/amsterdam/huis-497973...,475000,3,1035 PS,6,Landsmeerderdijk 47,house,6
2,1995,88,http://www.funda.nl/koop/amsterdam/appartement...,469000,2,1019 LG,3,KNSM-laan 519,apartment,6
3,1956,69,http://www.funda.nl/koop/amsterdam/appartement...,200000,3,1065 TP,4,Ariana Nozemanstraat 5 II,apartment,6
4,1984,72,http://www.funda.nl/koop/amsterdam/appartement...,125000,2,1104 PA,3,Kolfschotenstraat 56,apartment,6

In [23]:
ams_2["price"] = ams_2["price"].apply(lambda x: x + "0" if len(x) ==5 else x)

In [24]:
ams_2["price"] = ams_2["price"].apply(lambda x: x + "000" if len(x) ==4 else x)

In [25]:
ams_2["price"][39] = ams_2["price"][39] + "0"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/882002153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ams_2["price"][39] = ams_2["price"][39] + "0"

In [26]:
ams_2["price"][151] = ams_2["price"][151] + "0"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/3923837466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ams_2["price"][151] = ams_2["price"][151] + "0"

In [27]:
ams_2["price"][1515] = ams_2["price"][1515] + "0"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/3325377163.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ams_2["price"][1515] = ams_2["price"][1515] + "0"

In [28]:
ams_2["price"][1776] = ams_2["price"][1776] + "0"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/1399415967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ams_2["price"][1776] = ams_2["price"][1776] + "0"

In [29]:
ams_2["price"] = ams_2["price"].astype(int)

In [30]:
ams_3 = pd.read_json("Amsterdam_3(2770).json")

In [31]:
ams_3 = ams_3.drop(["sale_date", "posting_date"], axis=1)

In [32]:
ams_3.head()

,year_built,area,url,price,bedrooms,postal_code,rooms,address,property_type
0,1906,108,http://www.funda.nl/koop/verkocht/amsterdam/ap...,510000,2,1013 TN,3,Knollendamstraat 4 III/IV,apartment
1,1938,47,http://www.funda.nl/koop/verkocht/amsterdam/ap...,215000,1,1079 XM,2,Moerdijkstraat 47 1,apartment
2,2003,116,http://www.funda.nl/koop/verkocht/amsterdam/ap...,325000,2,1095 AD,3,Zeeburgerdijk 349,apartment
3,1910,58,http://www.funda.nl/koop/verkocht/amsterdam/ap...,315000,2,1054 VH,3,Brederodestraat 124 -1,apartment
4,1906,63,http://www.funda.nl/koop/verkocht/amsterdam/ap...,200000,1,1055 MD,3,Admiraal De Ruijterweg 409 III,apartment

In [33]:
ams_3.shape

(11443, 9)

In [34]:
ams_3["price"] = ams_3["price"].astype(str)

In [35]:
ams_3["len"] = ams_3["price"].apply(lambda x: len(x))

In [36]:
ams_3[ams_3["len"]==6]

,year_built,area,url,price,bedrooms,postal_code,rooms,address,property_type,len
0,1906,108,http://www.funda.nl/koop/verkocht/amsterdam/ap...,510000,2,1013 TN,3,Knollendamstraat 4 III/IV,apartment,6
1,1938,47,http://www.funda.nl/koop/verkocht/amsterdam/ap...,215000,1,1079 XM,2,Moerdijkstraat 47 1,apartment,6
2,2003,116,http://www.funda.nl/koop/verkocht/amsterdam/ap...,325000,2,1095 AD,3,Zeeburgerdijk 349,apartment,6
3,1910,58,http://www.funda.nl/koop/verkocht/amsterdam/ap...,315000,2,1054 VH,3,Brederodestraat 124 -1,apartment,6
4,1906,63,http://www.funda.nl/koop/verkocht/amsterdam/ap...,200000,1,1055 MD,3,Admiraal De Ruijterweg 409 III,apartment,6
...,...,...,...,...,...,...,...,...,...,...
11438,1938,113,http://www.funda.nl/koop/verkocht/amsterdam/ap...,599000,3,1077 CS,5,Olympiaplein 83 -III,apartment,6
11439,1993,88,http://www.funda.nl/koop/verkocht/amsterdam/ap...,399000,2,1015 NH,3,Anjeliersstraat 20,apartment,6
11440,1906,77,http://www.funda.nl/koop/verkocht/amsterdam/ap...,399000,2,1072 GV,4,Rustenburgerstraat 389 I,apartment,6
11441,1931,90,http://www.funda.nl/koop/verkocht/amsterdam/ap...,259000,3,1055 NX,4,Doggersbankstraat 12 II,apartment,6
11442,1937,54,http://www.funda.nl/koop/verkocht/amsterdam/ap...,165000,2,1055 VN,3,Anna van Burenstraat 24 2,apartment,6

In [37]:
ams_3["price"] = ams_3["price"].apply(lambda x: x + "000" if len(x) ==4 else x)

In [38]:
ams_3["price"] = ams_3["price"].apply(lambda x: x + "0" if len(x) ==5 else x)

In [39]:
ams_3["price"] = ams_3["price"].astype(int)

In [40]:
df = pd.concat([ams_1,ams_2,ams_3], ignore_index=True)

In [41]:
df.shape

(16980, 10)

In [42]:
df.head()

,year_built,area,url,price,bedrooms,postal_code,rooms,address,property_type,len
0,1984,31,http://www.funda.nl/koop/amsterdam/appartement...,132500,1,1065 LX,1,Jan Muschstraat 8,apartment,7
1,1990,79,http://www.funda.nl/koop/amsterdam/appartement...,300000,1,1019 HT,2,Zeeburgerkade 738 +PP,apartment,7
2,1906,93,http://www.funda.nl/koop/amsterdam/appartement...,550000,3,1051 GT,4,Cliffordstraat 22 -HUIS,apartment,7
3,2002,90,http://www.funda.nl/koop/amsterdam/appartement...,318500,2,1095 LG,3,Zeeburgerdijk 768,apartment,7
4,1904,142,http://www.funda.nl/koop/amsterdam/huis-497973...,475000,3,1035 PS,6,Landsmeerderdijk 47,house,7

In [43]:
df.dtypes

year_built       object
area             object
url              object
price             int32
bedrooms         object
postal_code      object
rooms            object
address          object
property_type    object
len               int64
dtype: object

In [44]:
df["property_type"].value_counts()

apartment    14406
house         2574
Name: property_type, dtype: int64

In [45]:
df = df.drop(["url", "len"], axis = 1)

In [46]:
df["year_built"].value_counts()

1906    2374
1931     433
1930     374
1960     352
1906     290
        ...
1865       1
1618       1
1621       1
1872       1
1715       1
Name: year_built, Length: 415, dtype: int64

In [47]:
df.isna().sum()

year_built       0
area             0
price            0
bedrooms         0
postal_code      0
rooms            0
address          0
property_type    0
dtype: int64

In [48]:
#Encode "property_Type"
df["property_type"] = df["property_type"].apply(lambda x: 0 if x == "house" else 1)

In [49]:
df.dtypes

year_built       object
area             object
price             int32
bedrooms         object
postal_code      object
rooms            object
address          object
property_type     int64
dtype: object

In [50]:
df[["year_built", "area", "bedrooms","rooms"]] = df[["year_built", "area", "bedrooms","rooms"]].astype(int)

In [51]:
#Encode year_built:
le = LabelEncoder()
df["year_built"] = le.fit_transform(df["year_built"])

In [52]:
df = df.drop_duplicates(subset = ["address", "postal_code", "property_type"])

In [53]:
df["postal_code"] = df["postal_code"].apply(lambda x: x.replace(" ", ""))

In [54]:
df = df.reset_index()

In [55]:
df.head()

,index,year_built,area,price,bedrooms,postal_code,rooms,address,property_type
0,0,195,31,132500,1,1065LX,1,Jan Muschstraat 8,1
1,1,201,79,300000,1,1019HT,2,Zeeburgerkade 738 +PP,1
2,2,121,93,550000,3,1051GT,4,Cliffordstraat 22 -HUIS,1
3,3,213,90,318500,2,1095LG,3,Zeeburgerdijk 768,1
4,4,119,142,475000,3,1035PS,6,Landsmeerderdijk 47,0

In [56]:
df.shape

(13970, 9)

In [57]:
df["postal_code"] = df["postal_code"].astype(str)

In [58]:
df = df.drop(["index"], axis = 1)

In [59]:
df["postal_code"][8239] = "1064EK"

C:\Users\TL\AppData\Local\Temp/ipykernel_3572/1090145124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["postal_code"][8239] = "1064EK"

In [60]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")

In [74]:
start = 10001
for i in range(10100,14100,100):
    df_tmp = df.loc[start:i]
    df_tmp["longitude"] = df_tmp["postal_code"].apply(lambda x: geolocator.geocode(x).longitude)
    df_tmp["latitude"] = df_tmp["postal_code"].apply(lambda x: geolocator.geocode(x).latitude)
    df_tmp.to_csv("./csv/df_{}.csv".format(i))
    start=i+1

C:\Users\TL\AppData\Local\Temp/ipykernel_12072/3011724597.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp["longitude"] = df_tmp["postal_code"].apply(lambda x: geolocator.geocode(x).longitude)
C:\Users\TL\AppData\Local\Temp/ipykernel_12072/3011724597.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp["latitude"] = df_tmp["postal_code"].apply(lambda x: geolocator.geocode(x).latitude)

In [163]:
# start = 8201
# for i in range(8300,10001,100):
#     df_tmp = df.loc[start:i]
#     df_tmp["longitude"] = df_tmp["postal_code"].apply(lambda x: geolocator.geocode(x).longitude)
#     df_tmp["latitude"] = df_tmp["postal_code"].apply(lambda x: geolocator.geocode(x).latitude)
#     df_tmp.to_csv("./csv/df_{}.csv".format(i))
#     start=i+1

In [75]:
# start = 10001
# for i in range(10100,14100,100):
#     print(start,i)
#     start=i+1

In [60]:
import glob

final_data = pd.DataFrame()
path = "C:/Users/TL/Desktop/Thesis/data/csv"
for file_name in glob.glob(path +'\*.csv'):
    x = pd.read_csv(file_name, low_memory=False)
    final_data = pd.concat([final_data,x],axis=0)

In [61]:
final_data.head()

,Unnamed: 0,index,year_built,area,price,bedrooms,postal_code,rooms,address,property_type,longitude,latitude
0,0,0.0,195,31,132500,1,1065LX,1,Jan Muschstraat 8,1,4.820961,52.356758
1,1,1.0,201,79,300000,1,1019HT,2,Zeeburgerkade 738 +PP,1,4.945214,52.369159
2,2,2.0,121,93,550000,3,1051GT,4,Cliffordstraat 22 -HUIS,1,4.872719,52.384031
3,3,3.0,213,90,318500,2,1095LG,3,Zeeburgerdijk 768,1,4.948301,52.366209
4,4,4.0,119,142,475000,3,1035PS,6,Landsmeerderdijk 47,0,4.899152,52.415561

In [62]:
final_data = final_data.drop(["Unnamed: 0", "index", "postal_code", "address"], axis = 1)

In [63]:
final_data.shape

(13970, 8)

In [64]:
final_data = final_data.reset_index()

In [65]:
final_data = final_data.drop(["index"], axis = 1)

In [66]:
final_data.head()

,year_built,area,price,bedrooms,rooms,property_type,longitude,latitude
0,195,31,132500,1,1,1,4.820961,52.356758
1,201,79,300000,1,2,1,4.945214,52.369159
2,121,93,550000,3,4,1,4.872719,52.384031
3,213,90,318500,2,3,1,4.948301,52.366209
4,119,142,475000,3,6,0,4.899152,52.415561

In [93]:
final_data.shape

(13970, 7)

In [67]:
X = final_data
y = final_data.pop("price")

In [68]:
#Spliting Train-test sets:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8,test_size=0.2, random_state=666)

In [69]:
#Standardizatin:
scaler = StandardScaler()
scaler.fit(X_train)
scaler.fit(X_test)
X_train = scaler.transform(X_train)
X_test= scaler.transform(X_test)

X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

## Linear Part:

In [75]:
# Linear Regression:
LR = LinearRegression()
LR = LR.fit(X_train, y_train)
LR_pred = LR.predict(X_test)

In [77]:
#MAE & R2 - Linear - train set:
print("mae:", mean_absolute_error(y_train, LR.predict(X_train)))
print("mse:", mean_squared_error(y_train, LR.predict(X_train)))
print("rmse:", mean_squared_error(y_train, LR.predict(X_train), squared = False))
print("r2:", r2_score(y_train, LR.predict(X_train)))

mae: 102208.89248297978
mse: 41768965350.04558
rmse: 204374.5711923222
r2: 0.6878422527002382

In [76]:
#MAE & R2 - Linear - test set:
print("mae:", mean_absolute_error(y_test, LR_pred))
print("mse:", mean_squared_error(y_test, LR_pred))
print("rmse:", mean_squared_error(y_test, LR_pred, squared = False))
print("r2:", r2_score(y_test, LR_pred))

mae: 101387.92305182826
mse: 41000876987.42075
rmse: 202486.73286766408
r2: 0.6954241282044722

## KNN Part:

In [78]:
#Grid search for KNN:
knn = KNeighborsRegressor()
parameters = {"n_neighbors" :[5, 10], 
              "weights": ["uniform", "distance"],
              "algorithm": ["auto", "kd_tree"],
               "p":[1,2,3]}
grid_knn = GridSearchCV(estimator = knn, param_grid = parameters, cv = 10, verbose = 1, n_jobs = -1)
Grid = grid_knn.fit(X_train, y_train)
Grid.best_params_

Fitting 10 folds for each of 24 candidates, totalling 240 fits

{'algorithm': 'auto', 'n_neighbors': 10, 'p': 2, 'weights': 'distance'}

In [79]:
#KNN
knn = KNeighborsRegressor(n_neighbors = 10, weights = "distance", algorithm='auto', p=2)
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=10, weights='distance')

In [80]:
#MAE & R2 - KNN - train set:
print("mae:", mean_absolute_error(y_train, knn.predict(X_train)))
print("mse:", mean_squared_error(y_train, knn.predict(X_train)))
print("rmse:", mean_squared_error(y_train, knn.predict(X_train), squared = False))
print("r2:", r2_score(y_train, knn.predict(X_train)))

mae: 1710.8524239867743
mse: 277379152.3300635
rmse: 16654.703609793345
r2: 0.9979270242723602

In [81]:
#MAE & R2 - KNN - test set:
print("mae:", mean_absolute_error(y_test, knn.predict(X_test)))
print("mse:", mean_squared_error(y_test, knn.predict(X_test)))
print("rmse:", mean_squared_error(y_test, knn.predict(X_test), squared = False))
print("r2:", r2_score(y_test, knn.predict(X_test)))

mae: 62603.27825571841
mse: 30175147028.30315
rmse: 173709.95086149542
r2: 0.7758432895100418

## SVM part:

In [82]:
#SVM regression
SVR = make_pipeline(StandardScaler(), LinearSVR(random_state=666))
SVR.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvr', LinearSVR(random_state=666))])

In [83]:
#MAE & R2 - SVM - train set:
print("mae:", mean_absolute_error(y_train, SVR.predict(X_train)))
print("mse:", mean_squared_error(y_train, SVR.predict(X_train)))
print("rmse:", mean_squared_error(y_train, SVR.predict(X_train), squared = False))
print("r2:", r2_score(y_train, SVR.predict(X_train)))

mae: 375162.013869005
mse: 274553772611.41455
rmse: 523978.7902304964
r2: -1.05186042921546

In [84]:
#MAE & R2 - KNN - test set:
print("mae:", mean_absolute_error(y_test, SVR.predict(X_test)))
print("mse:", mean_squared_error(y_test, SVR.predict(X_test)))
print("rmse:", mean_squared_error(y_test, SVR.predict(X_test), squared = False))
print("r2:", r2_score(y_test, SVR.predict(X_test)))

mae: 376237.755547602
mse: 276171148886.7491
rmse: 525519.884387593
r2: -1.0515431526686854

## Decision Tree Part:

In [89]:
#Decision Tree:
DT = tree.DecisionTreeRegressor(random_state=666)
DT.fit(X_train, y_train)

DecisionTreeRegressor(random_state=666)

In [90]:
#MAE & R2 - DT - train set:
print("mae:", mean_absolute_error(y_train, DT.predict(X_train)))
print("mse:", mean_squared_error(y_train, DT.predict(X_train)))
print("rmse:", mean_squared_error(y_train, DT.predict(X_train), squared = False))
print("r2:", r2_score(y_train, DT.predict(X_train)))

mae: 1710.0477605740462
mse: 277375991.0109025
rmse: 16654.608701824924
r2: 0.997927047898281

In [91]:
#MAE & R2 - DT - test set:
print("mae:", mean_absolute_error(y_test, DT.predict(X_test)))
print("mse:", mean_squared_error(y_test, DT.predict(X_test)))
print("rmse:", mean_squared_error(y_test, DT.predict(X_test), squared = False))
print("r2:", r2_score(y_test, DT.predict(X_test)))

mae: 76303.27617537114
mse: 41682217480.05928
rmse: 204162.23323636348
r2: 0.6903627761119635

## MLP Part:

In [ ]:
model = Sequential()
model.add(Dense(16, input_dim=7, activation='tanh'))
model.add(Dense(16, activation='tanh'))
model.add(Dense(1, activation='linear'))

optimizer = Adam(lr=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-8)
model.compile(loss='mean_absolute_error', optimizer=optimizer)

model.fit(X_train, y_train, epochs=30, batch_size=1, verbose=2)

Epoch 1/30

C:\Users\TL\Anaconda\lib\site-packages\keras\optimizer_v2\adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

11176/11176 - 8s - loss: 376846.3438 - 8s/epoch - 756us/step
Epoch 2/30
11176/11176 - 8s - loss: 357849.5938 - 8s/epoch - 742us/step
Epoch 3/30
11176/11176 - 8s - loss: 338840.4062 - 8s/epoch - 745us/step
Epoch 4/30
11176/11176 - 8s - loss: 319823.7500 - 8s/epoch - 730us/step
Epoch 5/30
11176/11176 - 8s - loss: 300804.8438 - 8s/epoch - 742us/step
Epoch 6/30
11176/11176 - 8s - loss: 281825.0000 - 8s/epoch - 740us/step
Epoch 7/30
11176/11176 - 8s - loss: 263444.6250 - 8s/epoch - 744us/step
Epoch 8/30
11176/11176 - 8s - loss: 246743.7969 - 8s/epoch - 741us/step
Epoch 9/30
11176/11176 - 8s - loss: 232417.3438 - 8s/epoch - 742us/step
Epoch 10/30
11176/11176 - 8s - loss: 220715.1094 - 8s/epoch - 736us/step
Epoch 11/30
11176/11176 - 9s - loss: 211766.9219 - 9s/epoch - 815us/step
Epoch 12/30
11176/11176 - 8s - loss: 204920.6250 - 8s/epoch - 731us/step
Epoch 13/30
11176/11176 - 8s - loss: 199899.0312 - 8s/epoch - 749us/step
Epoch 14/30
11176/11176 - 8s - loss: 195783.8125 - 8s/epoch - 701us/step
Epoch 15/30
11176/11176 - 8s - loss: 192531.2812 - 8s/epoch - 733us/step
Epoch 16/30
11176/11176 - 8s - loss: 190308.6094 - 8s/epoch - 736us/step
Epoch 17/30
11176/11176 - 8s - loss: 188608.2500 - 8s/epoch - 718us/step
Epoch 18/30

In [137]:
y_pred = model.predict(X_test)

In [138]:
import tensorflow.keras.losses
mae = tensorflow.keras.losses.MeanAbsoluteError()
mae(y_test, y_pred).numpy()

184070.12

In [139]:
#MAE & R2 - MLP - test set:
print("mae:", mean_absolute_error(y_test, y_pred))
print("mse:", mean_squared_error(y_test, y_pred))
print("rmse:", mean_squared_error(y_test, y_pred, squared = False))
print("r2:", r2_score(y_test, y_pred))

mae: 184070.42396653543
mse: 150299144072.42917
rmse: 387684.3356036315
r2: -0.11650033363985068

In [ ]:
print(mean_absolute_error(y_val, y_pred))
print(r2_score(y_val, y_pred))

In [ ]:
model = Sequential()
# Add two hidden layers with 4 hidden units each, and the tanh activation.

model.add(Dense(16, input_dim=3, activation='tanh'))
model.add(Dense(16, activation='tanh'))

# The final layer is the output layer with an inverse logit activation function.
model.add(Dense(1, activation='linear'))

# Use the Adam optimizer. Adam works similar to regular SGD, 
# but with some important improvements: https://arxiv.org/abs/1412.6980
optimizer = Adam(lr=0.02)
model.compile(optimizer=optimizer, loss='mean_squared_error')
model.fit(X_train, y_train, epochs=20, batch_size=1, verbose=2)